body {
	padding-left: 2rem;
	padding-right: 2rem;
}

.highlighter {
	background-color: fuchsia;
}

button {
	margin-bottom: 1rem;
}

#box {
	width: 900px;
	height:550px;
	padding:10px;
	border:1px solid #aaaaaa;
}

#walt {
	padding-top: 2rem;
}